<div>
    networkView
    {{network.toData ()}}
</div>
<!-- neurons -->
<div class="neurons-container">
    <!-- input neurons -->
    <div class="layer"> 
        <neuron-view *ngFor="let neuron of network.getInputLayer()" [neuron]="neuron" attr.id="neuron_{{neuron.id}}"></neuron-view>
    </div>

    <!-- hidden neurons -->
    <div class="layer" *ngFor="let layer of network.getHiddenLayers()">
        <neuron-view *ngFor="let neuron of layer" [neuron]="neuron" attr.id="neuron_{{neuron.id}}"></neuron-view>
    </div>

    <!-- output neurons -->
    <div class="layer">
        <neuron-view *ngFor="let neuron of network.getOutputLayer()" [neuron]="neuron" attr.id="neuron_{{neuron.id}}"></neuron-view>
    </div>
</div>
<!-- connection -->
<svg class="connections-container">

    <!-- output neurons -->
        <g *ngFor="let neuron of network.getOutputLayer()">
            <!--connection-view *ngFor="let connection of neuron.connections" [connection]="connection" ></connection-view>
            -->
            <line *ngFor="let connection of neuron.connections"
                            attr.x1={{getPos(connection.fromNeuron.id).x}}
                            attr.y1={{getPos(connection.fromNeuron.id).y}}
                            attr.x2={{getPos(neuron.id).x}}
                            attr.y2={{getPos(neuron.id).y}}
                            [ngStyle]="getLineStyle(connection.weight)"
                        ></line>

        </g>
    
</svg>
