<div class="header">
    training:{{mainService.isBusy}}<br>
    Lesson:
     <select [(ngModel)]="mainService.selectedLessonIndex">
        <option *ngFor="let lesson of mainService.lessonLoader.lessons; let i = index"               
                    value={{i}}
                    label={{lesson.name}}                
                >   
    </select>
   
    <br>
    epochs:<input type="number" [value]="mainService.epoches" (change)="mainService.epoches = $event.target.value">
            <input type="button" value="{{mainService.isBusy?'STOP':'START'}}" (click)="mainService.startOrStopTrain()">
    totalEpoches:{{mainService.totalEpoches}}
    squaredErrors:{{mainService.network.getSquaredErrors ()}}
    <br>
    <input type="button" value="{{'START TEST'}}" (click)="mainService.startTest()">
    <input type="checkbox" [value]="showNetworkChart" (change)="showNetworkChart = $event.target.checked">Show Network Charts<br>
    <input type="checkbox" [value]="showTrainingCharts" (change)="showTrainingCharts = $event.target.checked">Show Trainig Charts<br>
    <input type="checkbox" [value]="showTestCharts" (change)="showTestCharts = $event.target.checked">Show Trainig Charts<br>
    
</div>
<div class="view-container" >
    <network-view [network]="mainService.network"></network-view>
</div>

<network-chart-view [update]="!mainService.isBusy" *ngIf="showNetworkChart"> 
</network-chart-view>
<div *ngIf="mainService.lesson != undefined && showTrainingCharts">
    <pattern-chart-view *ngFor="let pattern of mainService.lesson.training; let i = index"
        pattern-index={{i}} 
        [update]="!mainService.isBusy"
        [history]="mainService.network.history">
    </pattern-chart-view>
</div>
<div *ngIf="mainService.lesson != undefined && showTestCharts">
    <pattern-chart-view *ngFor="let pattern of mainService.lesson.test; let i = index"
        pattern-index={{i}} 
        [update]="!mainService.isBusy"
        [history]="mainService.network.history">
    </pattern-chart-view>
</div>
