<div className="chart-view">
    Pattern Nr.:{{patternIndex}}
    <app-input-view [pattern]="pattern"></app-input-view>
    <div className="menu">
        <select [(ngModel)]="selectedSegmentIndex">
        <option *ngFor="let segments of chartOptionService.segments; let i = index"               
                    value={{i}}
                    label={{segments.name}}                
                >   
        </select>
    </div>
    selectedSegmentIndex: {{selectedSegmentIndex}}<br>
    <chart [update]="updateChart()" [steps]="steps" [history]="history" [type]="steps.length > 1 ? 'line' : 'bar'"></chart>
</div>
