<div className="chart-view">
    Pattern Nr.:{{patternIndex}}
    <div className="menu">
        <select [(ngModel)]="selectedSegmentIndex">
        <option *ngFor="let segments of chartOptionService.segments; let i = index"               
                    value={{i}}
                    label={{segments.name}}                
                >   
        </select>
    </div>
    <chart [pattern-index]="patternIndex" [update]="update" [segment]="chartOptionService.segments[selectedSegmentIndex].id"></chart>
</div>
