:host {
    background: yellow;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin:10px;
    border: 1px solid black;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}